/* header */
.navbar-nav {
    margin-left: auto;
    margin-right: 15px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-header {
    height: 100px;
    font-size: medium;
    background-color: #fadaaa;
}

.navbar-collapse {
    background-color: #fadaaa;
    width: 100%;
    border-radius: 10px;
}

.navbar-collapse, .nav-item {
    margin-right: auto;
    margin-left: 10px;
}

.nav-item a {
    margin-right: 10px;
    color: #7c4c2c;
    font-weight: 600;
}

.solid {
    border: 2px dashed #ffdfae;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggler span{
    background-color: #fadaaa;
    border: #7c4c2c;
}

/* your choice */
.card-container {
    position: relative; 
    width: 180px;
    height: 180px;
    margin: auto; 
}

.card-circle {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    background-position: center;
    background-size: cover; 
    box-sizing: border-box;
    overflow: hidden;
}

.card-circle.choice1 {
    background-image: url("../image/choice1.jpg");
    background-size: cover;

}

.card-circle.choice2 {
    background-image: url("../image/choice2.jpg");
    background-size: cover;
}

.card-circle.choice3 {
    background-image: url("../image/choice3.jpg");
    background-size: cover;
}

.content {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    top: 0;
    margin-left: auto;
    margin-right: auto; 
    background: rgba(255, 206, 47, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s; 
}

.content:hover {
    opacity: 1;
}

.content p {
    color: #7c4c2c;
    font-weight: 600;
    font-size: larger
}

.content i {
    color: #7c4c2c;
}

/* most view */
.mostView {
    text-align: center;
    color: #88fbda;
}
.card {
    margin-right: 5px;
    border-radius: 20px;
}

.imageCard {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btn-cart {
    background-color: #ffdfae;
    color: #7c4c2c;
    border-radius: 40px;
    font-weight: 500;
}

.btn-cart:hover {
    background-color: #7c4c2c;
    color: white;
}

.price {
    font-weight: 600;
    font-size: large;
    color: #7c4c2c;
}

/* footer */
.footer {
    background-color: #ffdfae;
}

.btn-signin {
    background-color: #7c4c2c;
    color: white;
    border-radius: 30px;
    padding: 5px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.btn-signin:hover {
    background-color: #ffdfae;
    color: #7c4c2c;
    border: solid #7c4c2c;
}