@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

:root {
    /* Colors */
    --first-color: rgb(169,122,77);
    --first-color-alt: rgb(128,87,52);
    --title-color: rgb(128,87,52);
    --white-color: rgb(255, 255, 255);
    --text-color: rgb(170, 174, 191);
    --body-color: rgb(251, 237, 218);
    --container-color: rgb(254, 249, 243);
  
    /* Font and typography */
    --body-font: "Montserrat", system-ui;
    --big-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --tiny-font-size: .688rem;
  
    /* font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 630;
  
    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, input, button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    background-image: url("../image/login1.jpg");
    background-size: cover;
}

input, button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

::selection {
    color: rgb(211, 255, 254);
    background: rgb(169,122,77);
}

/* header */
.navbar-nav {
    margin-left: auto;
    margin-right: 15px;
}


.navbar-header {
    height: 100px;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.logo {
    margin-left: 50px;
    width: 160px;
}

.text-item {
    color: rgb(148,224,209);
    width: 58%;
    background: transparent;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-weight: var(--font-semi-bold);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.text-item h2{
    font-size: 50px;
    line-height: 1.2;
}

.container {
    margin-top: 0rem;
    max-width: 1120px;
    margin-inline: 1.5rem;
    height: 600px !important;
    margin-top: 80px;
    border-radius: 20px;
    backdrop-filter: blur(6px);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(131, 94, 59, 0.19));
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.45);
}
  
.container .section {
    left: 50%;
    top: 10%;
    height: 400px !important;
    width: calc(100% - 58%);
}

.grid {
    display: grid;
    gap: 1rem;
}

.login {
    position: relative;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.title {
    font-size: var(--big-font-size);
    color: var(--first-color);
    text-align: center;
    margin-bottom: 2rem;
    font-weight: var(--font-semi-bold);
    display: flex;
    justify-content: center;
}

.register .title {
    width: calc(100% - 22%);
}

.form-group {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--container-color);
    border-radius: 1rem;
}

.form-input {
    background: none;
    width: 100%;
    padding: 1.5rem 2.5rem 1.5rem 1.25rem;
    font-weight: var(--font-semi-bold);
    border: 3px solid transparent;
    border-radius: 1rem;
    z-index: 1;
    transition: border-color .4s;
}

.form-input:autofill {
    transition: background-color 6000s, color 6000s;
}

.label {
    position: absolute;
    left: 1.25rem;
    top: 34%;
    font-weight: var(--font-semi-bold);
    transition: transform .4s, font-size .4s, color .4s;
}

.register .label {
    left: 2rem;
}
  
.login-icon {
    position: absolute;
    right: 1rem;
    font-size: 1.25rem;
    transition: color .4s;
}
  
.login-password {
    cursor: pointer;
    z-index: 10;
}

.btn {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: var(--first-color);
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    padding-block: 1.5rem;
    border-radius: 4rem;
    margin-block: 2rem;
    cursor: pointer;
    transition: background-color .4s, box-shadow .4s;
}

.btn:hover {
    background-color: var(--first-color-alt);
    box-shadow: 0 8px 24px rgba(128, 87, 52, 0.3);
}

.switch {
    text-align: center;
    font-size: var(--small-font-size);
  }
  
.switch button {
    background: none;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    transition: color .4s;
}
  
.switch button:hover {
    color: var(--first-color-alt);
}

.section, .register {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    transition: transform .4s, opacity .4s .1s;
}

.register {
    left: 50%;
    top: 10%;
    height: 400px !important;
    width: calc(100% - 58%);
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: transform .4s, opacity .4s .1s;
}

.register .title {
    padding: 0px;
}

/* input focus */
.form-input:focus ~ .label {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
}

.form-input:not(:placeholder-shown) ~ .label {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
}

.form-input:placeholder-shown ~ .label {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.form-input:focus {
    border-color: var(--first-color);
}
  
.form-input:focus ~ .label, .form-input:focus ~ .login-icon {
    color: var(--first-color);
}

/* show hide login & create account */
.active .section {
    transform: translateX(15rem);
    opacity: 0;
    pointer-events: none;
}
  
.active .register {
    transform: translateX(0);
    opacity: 1;
    pointer-events: initial;
}

/* responsive */
@media screen and (min-width: 1150px) {
    :root {
        --big-font-size: 3rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --tiny-font-size: .75rem;
    }
}
/* small devices */
@media screen and (max-width: 320px) {
    .container {
        margin-inline: 1rem;
    }
}
  
/* medium devices */
@media screen and (min-width: 540px) {
    .item {
        width: 380px;
        margin-inline: auto;
    }
}
  
@media screen and (min-width: 350px) and (max-height: 600px) {
    .login {
      height: 760px;
    }
}
  
@media screen and (max-width: 768px) {
    .text-item h2 {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto; 
        padding: 0px; 
    }

    .container .section{
        position: static;
        width: 100%;
        margin-top: -10px; 
    }

    .active .section {
        transform: none; 
        opacity: 1;
        pointer-events: initial;
    }

    .logo {
        padding:0;
        width: 80px;

        display: block;
        margin: 0 auto; 
    }
    .section {
        margin-top: 0px; 
    }
}

/* large devices */
@media screen and (min-width: 1150px) {
    .container {
        margin-inline: auto;
    }
    .item {
        width: 460px;
        margin: initial;
    }
    .section, .register {
        width: 600px;
    }
    .title {
        text-align: initial;
        margin-bottom: 3rem;
    }
    .btn {
        margin-bottom: 3rem;
    }
    .login-group {
        grid-template-columns: repeat(2, 1fr);
    }
}
  