/* header */
.navbar-nav {
    margin-left: auto;
    margin-right: 15px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-header {
    height: 100px;
    font-size: medium;
    background-color: #fadaaa;
}

.navbar-collapse {
    background-color: #fadaaa;
    width: 100%;
    border-radius: 10px;
}

.navbar-collapse, .nav-item {
    margin-right: auto;
    margin-left: 10px;
}

.nav-item a {
    margin-right: 10px;
    color: #7c4c2c;
    font-weight: 600;
}

.solid {
    border: 2px dashed #ffdfae;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggler span{
    background-color: #fadaaa;
    border: #7c4c2c;
}

/* panel */
.imagePanel {
    background-image: url('../image/panel.png');
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;
}

.imagePanel h1 {
    color: #7c4c2c;
    font-weight: 700;
    font-size: 50px;
}

/* search */
.inputSearch {
    width: 80%;
    border-radius: 30px;
    border: none;
    margin-right: auto;
    margin-left: 2px;
}

.searchBox {
    background-color: #fadaaa;
    padding: 20px 60px;
    border-radius: 20px;
    margin: 0 auto; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: fit-content; 
    height: auto;
}

.btnSearch {
    padding: 5px 5px;
    background-color: #fadaaa;
    border: none;
}

/* filter */
.filterBox {
    border: 4px solid #fadaaa;
    border-radius: 20px;
}

.filterBox .form-check, .filterBox .form-group{
    margin-left: 30px;
    margin-top: 10px;
}

.flavor {
    margin-top: 10px;
}

.flavor h5 {
    color: #7c4c2c;
    font-weight: 700;
}

.filterSize {
    margin-top: 10px;
}

.filterSize h5 {
    color: #7c4c2c;
    font-weight: 700;
}

.btnChoose {
    border-radius: 30px;
    padding: 5px 15px;
    background-color: #7c4c2c;
    color: #fadaaa;
    font-weight: 600;
}

.btnChoose:hover {
    background-color: #fadaaa;
    color: #7c4c2c;
}

/* list view, grid view */

.icon-for-view {
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    color: #7c4c2c;
}

/* view product */
.card {
    margin-right: 5px;
    border-radius: 20px;
}

.imageCard {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.btn-cart {
    background-color: #ffdfae;
    color: #7c4c2c;
    border-radius: 40px;
    font-weight: 500;
}

.btn-cart:hover {
    background-color: #7c4c2c;
    color: white;
}

.price {
    font-weight: 600;
    font-size: large;
    color: #7c4c2c;
}

.pagination {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.pagination a {
    color: #7c4c2c;
}

.pagination a:hover {
    color: #7c4c2c;
}

.card a {
    color: #7c4c2c;
}


/* list */
.card-list .imageCard {
    height: auto;
    width: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
}

/* pagination */
.pagination {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 10px 0;
}



.imageDetail {
    width: auto;
    height: 400px;
    border-radius: 20px;
}

.boxInformation {
    border: 2px solid #7c4c2c;
    margin-left: 30px;
}

/* footer */
.footer {
    background-color: #ffdfae;
}

.btn-signin {
    background-color: #7c4c2c;
    color: white;
    border-radius: 30px;
    padding: 5px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.btn-signin:hover {
    background-color: #ffdfae;
    color: #7c4c2c;
    border: solid #7c4c2c;
}



