:root {
    --text-color: rgb(170, 174, 191);

    --title-color: hsl(0, 0%, 25%);
    --first-color: rgb(169,122,77);
    --first-color-alt: rgb(128,87,52);
    --white: rgb(254, 254, 254);
    --box-color: rgb(240,240,240);
    --btn-qty-color: hsl(0, 0%, 91%);
    --border-color: hsl(0, 0%, 90%);
    --ord-border-color: rgb(168,168,168);
    --warning-color: hsl(0, 77%, 60%);
    --prd-color: hsl(0, 0%, 39%);
    --input-color: hsl(0, 0%, 30%);
    --label-color: hsl(0, 0%, 62%);
    --quick-silver: hsl(0, 0%, 64%);
    --navbar-color: rgb(250, 218, 170);

    --body-font: "Arial", "Helvetica", sans-serif;

    --heading-fs: 28px;
    --heading2-fs: 24px;
    --fs-18: 18px;
    --product-fs: 15px;
    --label-fs: 14px;

    --fw-regular: 500;
    --fw-medium: 600;
    --fw-semi-bold: 700;

    --px: 60px;
    --radius: 1rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: rgb(211, 255, 254);
    background: rgb(169,122,77);
}

/* header */
.navbar-nav {
    margin-left: auto;
    margin-right: 15px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-header {
    height: 100px;
    font-size: medium;
    background-color: var(--navbar-color);
}

.navbar-collapse {
    background-color: var(--navbar-color);
    width: 100%;
    border-radius: 10px;
}

.navbar-collapse, .nav-item {
    margin-right: auto;
    margin-left: 10px;
}

.nav-item a {
    margin-right: 10px;
    color: #7c4c2c;
    font-weight: 600;
}

.solid {
    border: 2px dashed #ffdfae;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggler span{
    background-color: var(--navbar-color);
    border: #7c4c2c;
}


html { 
    font-family: 'Source Sans 3', sans-serif; 
}

html, body {
    overflow-x: hidden;
    font-family: var(--body-font);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    
}
ion-icon, span { display: inline-block; }

label, img:not(.navbar img) {
    display: block;
}

input {
    font: inherit;
    width: 100%;
    border: none;
} 


input:focus { outline: 2px solid var(--first-color); }

/* Remove number input up & down button */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

/* container */
.container {
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: var(--heading-fs);
    font-weight: var(--fw-medium);
    color: var(--title-color);
    border-bottom: 1px solid var(--border-color);
    padding: 20px var(--px);
    display: flex;
    align-items: center;
    gap: 20px;
}

.heading ion-icon { 
    font-size: 40px; 
}

.item {
    display: flex;
    flex-grow: 1;
}

/* checkout */
.checkout {
    width: 70%;
    padding: 40px var(--px);
    background: var(--white);
}

.section-heading {
    color: var(--title-color);
    margin-bottom: 30px;
    font-size: var(--heading2-fs);
    font-weight: var(--fw-regular);
}

.payment-form {
    margin-bottom: 40px;
  }
  
.payment-method {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}
  
.payment-method .method {
    border: 1px solid var(--quick-silver);
    border-radius: var(--radius);
    width: 50%;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    gap: 20px;
    cursor: pointer;
}
  
.payment-method .selected {
    border-color: var(--first-color);
}

.payment-method .method ion-icon {
    font-size: 20px;
}

.payment-method .method .checkmark {
    margin-left: auto;
    color: var(--quick-silver);
}

.payment-method .method .fill {
    color: var(--first-color);
}

.label {
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: var(--label-fs);
    color: var(--label-color);
}

.form-input {
    background-color: var(--box-color);
    border-radius: var(--radius);
    color: var(--input-color);
    font-size: 14px !important;
    padding: 13px 17px!important;
}

.form-group-row {
    display: flex; /* Kích hoạt Flexbox */
    gap: 20px; /* Khoảng cách giữa các ô */
}

/* Form group */
.form-group {
    flex: 1; /* Chia đều không gian cho mỗi form-group */
}

.payment-form input {
    padding: 10px;
    font-size: var(--fs-18);
    font-weight: var(--fw-regular);
}

.cardholder, .cardid {
    margin-bottom: 20px;
}

.cardid input, .cvv input {
    letter-spacing: 3px;
}

.input-flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

.input-flex .date, .input-flex .cvv { 
    width: 50%; 
}

.date .input-flex {
    color: var(--label-color);
    gap: 13px;
}

.date .input-flex input { 
    text-align: center; 
}

.btn { 
    border-radius: var(--radius); 
}

.btn:active { 
    transform: scale(0.99); 
}

.btn:focus {
    color: var(--white);
    background: var(--first-color);
    outline: 2px solid var(--first-color);
    outline-offset: 2px;
}

.btn-pay {
    background: var(--first-color);
    font-weight: var(--fw-regular);
    color: var(--white);
    padding: 13px 45px;
    border: none;
    outline: none; 
    box-shadow: none; 
    border-radius: 4rem;
}


.btn-pay:hover {
    background: var(--first-color-alt);
    box-shadow: 0 8px 24px rgba(128, 87, 52, 0.3);
}

/* cart */
.cart {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cart-item {
    padding: 40px var(--px);
    margin-bottom: auto;
    background-color: var(--box-color);
    overflow: hidden; 
    border-radius: 1rem;
}

.img-box img {
    width: auto;
    max-width: 80px;
    height: auto;
    max-height: 100%;
}
.prd-card:not(:last-child) {
    margin-bottom: 20px; 
}

.prd-card {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    border: none !important;
}

.prd-img { 
    border-radius: var(--radius); 
}

.detail .prd-name {
    font-weight: var(--fw-medium);
    font-size: var(--product-fs);
    color: var(--prd-color);
    margin-bottom: 10px;
}

.detail .wrapper {
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.prd-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prd-quantity button {
    background: var(--btn-qty-color);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price {
    padding-top: 9;
}
.prd-quantity button:active, .prd-close-btn:active ion-icon {
    transform: scale(0.95);
}

.prd-quantity button ion-icon {
    --ionicon-stroke-width: 60px;
    font-size: 10px;
}

.prd-close-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: -300px;
    cursor: pointer;
}

.prd-close-btn ion-icon {
    font-size: 19px;
    color: var(--quick-silver);
}

.prd-close-btn:hover ion-icon { color: var(--warning-color); }

.discount {
    padding: 40px var(--px);
    border-top: 1px solid var(--ord-border-color);
    border-bottom: 1px solid var(--ord-border-color);
    
}

.discount .form-input {
    background-color: var(--white);
}

.wrapper-flex {
    display: flex;
    align-items: center;
    gap: 30px;
}

.wrapper-flex input {
    padding: 12px 15px;
    font-weight: var(--fw-medium);
    letter-spacing: 2px;
}

.btn-outline {
    padding: 10px 25px;
    border: 1px solid var(--first-color);
    color: var(--first-color);
}

.btn-outline:hover {
    background: var(--first-color);
    color: var(--white);
}

.amount { 
    padding: 40px var(--px); 
}

.amount > div {
    display: flex;
    justify-content: space-between;
}

.amount > div:not(:last-child) { 
    margin-bottom: 10px; 
}

.amount .total {
    font-size: var(--fs-18);
    font-weight: var(--fw-semi-bold);
    color: var(--title-color);
}

/* rating form */

.btnComment , .btnSubmit{
    background-color: #ffdfae;
    color: var(--first-color-alt);
    border-radius: 40px;
    font-weight: 500;
}

.btnComment:hover, .btnSubmit:hover{
    background-color: var(--first-color-alt);
    color: var(--white);
}

.hidden {
    display: none;
}

/* responsive */
@media (max-width: 1200px) {
    .item { 
        flex-direction: column-reverse;
    }
   
    .checkout {
      width: 100%;
      border-right: none;
    }
  
    .btn-pay { 
        width: 100%; 
    }

    .cart {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
    }
    .cart .wrapper {
        margin-top: auto; 
    }
    .cart .cart-item {
        border-right: 1px solid var(--border-color);
        margin-bottom: 0;
    }
    .discount { 
        border-top: none; 
    }
}

@media (max-width: 768px) {
    :root { 
        --px: 40px; 
    }
    .cart { 
        grid-template-columns: 1fr; 
    }
    .discount {
        border-top: 1px solid var(--border-color); 
        border-bottom: 1px solid var(--border-color);
    }
    .wrapper { 
        gap: 20px; 
    }
}
  
@media (max-width: 567px) {
    :root { 
        --px: 20px;
    }
  
    .cart {
        display: grid;
        
        grid-template-columns: 1fr;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
    }
    .payment-method,
    .input-flex {
      flex-direction: column;
      gap: 20px;
    }
  
    .payment-method .method { 
        width: 100%; 
    }
  
    .input-flex .date, .input-flex .cvv {
        width: 100%; 
    }
  
    .date .input-flex { flex-direction: row; }
  }
  
  
  