:root {
    /* Colors */
    --navbar-color: rgb(250, 218, 170);
    --heading-color: #7c4c2c;
    --background-color: #fff;
    --border-color: #ffdfae;
    --first-color: rgb(169, 122, 77);
    --first-color-alt: rgb(128, 87, 52);
    --white: rgb(254, 254, 254);
    --btn-default-border-color: rgba(24, 28, 33, 0.1);
    --btn-default-color: #4E5155;
    --card-box-shadow-color: rgba(9, 88, 184, 0.012);
    --row-bordered-border-color: rgba(24, 28, 33, 0.03);
    --section-color-alt: rgb(211, 255, 254); 
    --section-bg-color-alt: rgb(169,122,77);   
    
    
    /* font */
    --font-weight-bold: bold;

    --radius: 5px;
    --padding: 0.85rem 1.5rem;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 0 !important;
}

/* header */
.navbar-nav {
    margin-left: auto;
    margin-right: 15px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-header {
    height: 100px;
    font-size: medium;
    background-color: var(--navbar-color);
}

.navbar-collapse {
    background-color: var(--navbar-color);
    width: 100%;
    border-radius: 10px;
}

.navbar-collapse, .nav-item {
    margin-right: auto;
    margin-left: 10px;
}

.nav-item a {
    margin-right: 10px;
    color: var(--heading-color);
    font-weight: 600;
}

.solid {
    border: 1px solid var(--border-color);
    width: auto;
}

.navbar-toggler span{
    background-color: var(--navbar-color);
    border: var(--heading-color);
}

.btn-account {
    border: none;
    color:#7c4c2c;
    background-color: #ffdfae;
}

/* view detail */
.card {
    border: none;
    
}

.card .card-header, .card .card-footer {
    background-color: #fff;
}

.backgroundOrder {
    background-color: var(--heading-color);
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: var(--border-color);
}

.card-body h6, .card-header h5 {
    font-weight: 700;
}



.card-header h5 {
    color: var(--heading-color);
}






body {
    background: var(--background-color);
    margin-top: 20px;
}

.card-form {
    background-clip: padding-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid var(--border-color);
}

.row-bordered {
    overflow: hidden;
    border-color: var(--row-bordered-border-color);
}

.account-settings-links .list-group-item {
    padding: var(--padding);
    border-color: var(--row-bordered-border-color) !important;
    color: var(--btn-default-color);
    background: transparent;
    font-weight: normal; 
    cursor: pointer;
}

.account-settings-links .list-group-item:hover {
    background-color: var(--section-bg-color-alt);
    color: var(--section-color-alt);
}

.account-settings-links .list-group-item.active {
    font-weight: var(--font-weight-bold); 
    color: var(--section-color-alt); 
    background-color: var(--section-bg-color-alt);
}

.account-address .form-group .form-control {
    border: none;
    outline: none;
    background-color: transparent; 
    box-shadow: none;
    margin-bottom: 10px;
}

.address-section {
    padding: 20px 0;
}


.address-section:not(:last-child) {
    border-bottom: 1px solid var(--border-color); 
}

.address-section + .address-section {
    margin-top: 20px;
}

.btn:active {
    transform: scale(0.99);
}

.btn:focus {
    color: var(--white);
    background: var(--first-color);
    outline: 2px solid var(--first-color);
    outline-offset: 2px;
}

.btn-upd {
    background: var(--first-color);
    font-weight: var(--fw-regular);
    color: var(--white);
    padding: 13px 45px;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 4rem;
}


.btn-upd:hover {
    background: var(--first-color-alt);
    box-shadow: 0 8px 24px rgba(128, 87, 52, 0.3);
    color: var(--white);
}


.btn-change {
    background: var(--section-bg-color-alt);
    font-weight: var(--fw-regular);
    color: var(--white);
    padding: 13px 45px;
    border: none;
    outline: none; 
    box-shadow: none; 
    border-radius: 4rem;
}


.btn-change:hover {
    box-shadow: 0 8px 24px rgba(128, 87, 52, 0.3);
}

/* footer */
.footer {
    background-color: var(--border-color);
}

.btn-signin {
    background-color: var(--heading-color);
    color: white;
    border-radius: 30px;
    padding: 5px 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.btn-signin:hover {
    background-color: var(--border-color);
    color: var(--heading-color);
    border: solid var(--heading-color);
}
