<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- css -->
    <link href="../../public/css/login.css" rel="stylesheet">


</head>
<body>
    <!--header-->

    <!-- <nav class="navbar navbar-expand-sm navbar-header container-fluid" style="z-index: 1050; position: relative;">
        <a class="navbar-brand" href="#" style="font-weight: 700; font-size: 50px; color: #fff6f2;">
            <img src="../../public/image/Logo.png" alt="logo" style="width: 90px;">
            GELADO
        </a>
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav> -->

    <div class="login container grid" id="loginAccess">
        <!-- login -->
        <div class="text-item">
            <img src="../../public/image/Logo.png" alt="logo" class="logo">
            <h2>WELCOME! <br><span>
                IT'S AN ICE CREAM<br>
                FOR KIDS FROM 0<br>
                TO 100 YEARS<br>
                OLD.
            </span></h2>
        </div>

        <div class="section">
            <h1 class="title">Login</h1>
            <div class="item">
                <form method="post" action="/login" class="login-form">
                    <div class="login-content grid">
                        <!-- email -->
                        <div class="form-group">
                            <input type="email" id="email" name="email" required placeholder=" " class="form-input">
                            <label for="email" class="label">&emsp;Email</label>
                        </div>
                        <!-- password -->
                        <div class="form-group">
                            <input type="password" id="password" name="password" required placeholder=" " class="form-input">
                            <label for="password" class="label">&emsp;Password</label>

                            <i class="ri-eye-off-fill login-icon login-password" id="loginPassword"></i>
                        </div>
                    </div>
                    <button type="submit" class="btn">Login</button>
                </form>

                <p class="switch">
                    Don't have an account? 
                    <button id="loginBtnRegister">Create Account</button>
                </p>

            </div>
        </div>

        <!-- register -->
        <div class="register">
            <h1 class="title">Create new account</h1>

            <div class="section">
                <form method="post" action="/register" class="login-form">
                    <div class="login-content grid">
                        <div class="login-group grid">
                            <!-- first name -->
                            <div class="form-group">
                                <input type="text" id="firstname" required placeholder=" " class="form-input">
                                <label for="firstname" class="label">First name</label>
                            </div>
                            <!-- last name -->
                            <div class="form-group">
                                <input type="text" id="lastname" required placeholder=" " class="form-input">
                                <label for="lastname" class="label">Last name</label>
                            </div>
                            <!-- email -->
                            <div class="form-group">
                                <input type="email" id="creEmail" required placeholder=" " class="form-input">
                                <label for="creEmail" class="label">Email</label>
                            </div>
                            <!-- password -->
                            <div class="form-group">
                                <input type="password" id="crePassword" required placeholder=" " class="form-input">
                                <label for="crePassword" class="label">Password</label>
                                <i class="ri-eye-off-fill login-icon login-password" id="loginPasswordCre"></i>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn">Create account</button>
                </form>
                <p class="switch">
                    Already have an account? 
                    <button id="loginBtnAccess">Log In</button>
                 </p>
            </div>
        </div>
    </div>



</body>
</html>